* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  font-size: 14px;
  background: #fff;
}

.index-body {
  background: url("./../images/img-5.png") no-repeat top center;
  background-size: 100% auto;
}

.top-box {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  color: #fff;
  margin-bottom: 20px;

  img {
    width: 60px;
    height: 60px;
  }

  .r-wrapper {
    padding-left: 16px;

    div {
      font-size: 20px;
      margin-bottom: 10px;
    }

    span {
      font-size: 14px;
    }
  }
}

.index-content {
  border-radius: 10px 10px 0 0;
  background: #fff;
  min-height: 500px;
  padding: 14px;

  .role-row {
    color: #333333;
    font-size: 16px;
    display: flex;
    line-height: 40px;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    margin: 20px 0;
    background: url("./../images/img-7.png") no-repeat 10px center;
    background-size: 16px auto;

    i {
      display: block;
      width: 20px;
      height: 20px;
      position: relative;

      &:after {
        content: '';
        width: 10px;
        height: 10px;
        display: block;
        border: 1px solid #CCCCCC;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
        transform-origin: center;
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }

  .goods-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    span {
      font-size: 16px;
      color: #333333;
      font-weight: bold;
      position: relative;
      padding-bottom: 10px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(50% - 5px);
        width: 10px;
        height: 2px;
        background: #3FB359;
      }
    }

    i {
      display: block;
      width: 15px;
      height: 15px;
      background: url("./../images/img-1.png") no-repeat center;
      background-size: 100% 100%;
    }
  }

  .goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      width: calc(50% - 10px);
      margin-bottom: 20px;
      text-align: center;
      &.active{
        .goods-img{
          border: 1px solid #FBDB30;
        }
      }

      .goods-img {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .goods-name {
        font-size: 12px;
        color: #333333;
        margin: 8px 0 12px 0;
      }

      .goods-price {
        display: inline-flex;
        background: url("./../images/img-3.png") no-repeat center left;
        background-size: 20px 20px;
        padding-left: 24px;
        font-size: 17px;
        font-weight: bold;
        color: #D32525;
      }
    }
  }
}

.account-box {
  position: relative;
  .nav-box {
    display: flex;
    align-items: stretch;
    height: 28px;
    color: #838383;
    font-size: 12px;

    span {
      padding-bottom: 5px;

      & + span {
        margin-left: 14px;
      }

      &.active {
        position: relative;

        &:before {
          content: '';
          width: 10px;
          height: 2px;
          background: #3FB359;
          position: absolute;
          bottom: 0;
          left: calc(50% - 5px);
        }
      }
    }
  }
  .input-box {
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: 15px;
    border-radius: 4px;
    background: url("./../images/img-6.png") no-repeat 10px center #F5F6FA;
    background-size: 18px auto;

    input {
      height: 40px;
      width: calc(100% - 80px);
      border: none;
      background: transparent;
    }

    button {
      height: 20px;
      border: none;
      border-left: 1px solid #000;
      color: #54A569;
      background: transparent;
      width: 80px;
    }
  }
  .drop-box{
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    background: #F5F6FA;
    border-radius: 4px;
    padding: 10px;
    ul{
      max-height:110px;
      overflow: auto;
    }
    li{
      line-height: 30px;
      span:first-child{
        margin-right: 10px;
      }
    }
    .role-btn-box{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      .role-ok-btn{
        min-width:90px;
        width: auto;
        height: 30px;
        padding: 0 14px;
        background: #49C265;
        border-radius: 19px;
        border: none;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  border-top: 1px solid #EAEAEA;

  .l-wrapper {
    font-weight: bold;
    font-size: 12px;

    span {
      color: #D32525;
      font-size: 20px;
    }
  }

  .pay-btn {
    width: 103px;
    height: 40px;
    background: #49C265;
    border-radius: 19px;
    border: none;
    font-size: 16px;
    color: #fff;
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  &.role-list-dg{
    display: none;
  }

  .dg-body {
    width: 80%;
    border-radius: 10px;
    min-height: 80px;
    background: #fff;
    position: absolute;
    left: 10%;
    top: 20%;
    padding: 20px;
    .dg-title{
      font-size: 15px;
      text-align: center;
      font-weight: bold;
    }
    .dg-text{
      font-size: 16px;
      color: #4F4F51;
      padding: 0 10px;
      margin-top: 10px;
    }
  }
  .btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .ok-btn{
      min-width:90px;
      width: auto;
      height: 36px;
      padding: 0 14px;
      background: #49C265;
      border-radius: 19px;
      border: none;
      font-size: 16px;
      color: #fff;
    }
  }
}
