* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  font-size: 14px;
  background: #fff;
}
.index-body {
  background: url("../images/img-5.png") no-repeat top center;
  background-size: 100% auto;
}
.top-box {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  color: #fff;
  margin-bottom: 20px;
}
.top-box img {
  width: 60px;
  height: 60px;
}
.top-box .r-wrapper {
  padding-left: 16px;
}
.top-box .r-wrapper div {
  font-size: 20px;
  margin-bottom: 10px;
}
.top-box .r-wrapper span {
  font-size: 14px;
}
.index-content {
  border-radius: 10px 10px 0 0;
  background: #fff;
  min-height: 500px;
  padding: 14px;
}
.index-content .account-box .nav-box {
  display: flex;
  align-items: stretch;
  height: 28px;
  color: #838383;
  font-size: 12px;
}
.index-content .account-box .nav-box span {
  padding-bottom: 5px;
}
.index-content .account-box .nav-box span + span {
  margin-left: 14px;
}
.index-content .account-box .nav-box span.active {
  position: relative;
}
.index-content .account-box .nav-box span.active:before {
  content: '';
  width: 10px;
  height: 2px;
  background: #3FB359;
  position: absolute;
  bottom: 0;
  left: calc(50% - 5px);
}
.index-content .account-box .input-box {
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-top: 15px;
  border-radius: 4px;
  background: url("../images/img-6.png") no-repeat 10px center #F5F6FA;
  background-size: 18px auto;
}
.index-content .account-box .input-box input {
  height: 40px;
  width: calc(100% - 80px);
  border: none;
  background: transparent;
}
.index-content .account-box .input-box button {
  height: 20px;
  border: none;
  border-left: 1px solid #000;
  color: #54A569;
  background: transparent;
  width: 80px;
}
.index-content .role-row {
  color: #333333;
  font-size: 16px;
  display: flex;
  line-height: 40px;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  margin: 20px 0;
  background: url("../images/img-7.png") no-repeat 10px center;
  background-size: 16px auto;
}
.index-content .role-row i {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
}
.index-content .role-row i:after {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid #CCCCCC;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  transform-origin: center;
  position: absolute;
  right: 0;
  top: 5px;
}
.index-content .goods-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.index-content .goods-title span {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
}
.index-content .goods-title span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 5px);
  width: 10px;
  height: 2px;
  background: #3FB359;
}
.index-content .goods-title i {
  display: block;
  width: 15px;
  height: 15px;
  background: url("../images/img-1.png") no-repeat center;
  background-size: 100% 100%;
}
.index-content .goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index-content .goods-list .item {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.index-content .goods-list .item .goods-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.index-content .goods-list .item .goods-img img {
  width: 100%;
  height: auto;
}
.index-content .goods-list .item .goods-name {
  font-size: 12px;
  color: #333333;
  margin: 8px 0 12px 0;
}
.index-content .goods-list .item .goods-price {
  display: inline-flex;
  background: url("../images/img-3.png") no-repeat center left;
  background-size: 20px 20px;
  padding-left: 24px;
  font-size: 17px;
  font-weight: bold;
  color: #D32525;
}
